.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
    text-transform: uppercase;
  }

  .items {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

    .collection-item {
      flex: 0 0 25%;
      max-width: 25%;

      @media (max-width: 800px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    // @media (max-width: 800px) {
    //   display: grid;
    //   grid-template-columns: 1fr 1fr;
    //   justify-content: center;
    //   align-items: center;
    // }
  }
}
