.directory-menu {
  width: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
  // justify-content: space-between;
}

@media (max-width: 800px) {
  .directory-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
