.checkout-page {
  width: 700px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  box-sizing: border-box;
  // background-color: darkgreen;

  .checkout-header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgray;
    // text-align: center;
  }

  .header-block {
    text-transform: capitalize;
    width: 22.5%;
    font-size: 15px;
    font-weight: 500;

    &:last-child {
      width: 10%;
    }

    @media (max-width: 800px) {
      font-size: 12px;
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }

  button {
    margin-left: auto;
    margin-top: 50px;
  }

  .text-warning {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: red;

    span {
      font-weight: 600;
    }
  }

  @media (max-width: 800px) {
    width: 100%;
  }
}
