.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
  }

  .option {
    padding: 10px 15px;
    margin-right: 10px;
    font-weight: 600;
    transition: all 0.4s ease-out;
    // border-radius: 10px;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid black;
    }
  }
}
